
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/

.idea/
.idea_modules/

.vscode/

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

*.dll
*.exe
*.pdb
*.cache

*.db
data/
*.dat
*.idx

.DS_Store
Thumbs.db
*.swp
*~

*.tmp
*.temp
*.log
*.bak

